.font{
   font-family: Arial, sans-serif;
 }

.popupFriends{
   margin-top: 100px;
   background-color: white;
   width: 300px;
   height: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap: wrap;
   border-radius: 10px;
   z-index: 10;
   overflow:hidden;
   position:fixed;
   padding: 10px;
   top:0px;
   box-shadow: 0 2px 8px rgba(0, 0,0, .1);
   right: 17vw;
}

.popupFriends__search{
   display: flex;
   width: 100%;
}

.popupFriends__content{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.popupFriends__id{
   padding: 10px;
   width: 100%;
}

.popupFriends__caption{
   padding: 10px;
   width: 100%;
}

.popupFriends__sections{
   padding: 10px;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.popupFriends__close{
   align-self: flex-end;
   cursor: pointer;
}

.popupFriends__sections__friends:hover, .popupFriends__sections__requests:hover,.popupFriends__button:hover{
   background-color: rgb(156, 40, 185);
   color:  white;
}

.popupFriends__input{
   line-height: 2em;
   border: 1px solid rgb(156, 40, 185);
   font-size: inherit;
   box-sizing: border-box;
   max-width: 80%;
}

.popupFriends__sections__friends, .popupFriends__sections__requests,.popupFriends__button{
   text-align: center;
   border: 1px solid rgb(156, 40, 185);
   color: rgb(156, 40, 185);
   background-color: transparent;
   font-family: inherit;
   line-height: 2em;
   padding: 0 1em;
   font-size: 16px;
   cursor: pointer;
}